<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8">
		<title>互助會PLUS</title>
		<link rel="stylesheet" type="text/css" href="public/stylesheets/asca.css">
	</head>
	<body>
		<div class="navigation_bar">
			
			<div class="navigation_logo">
				<a href="http://google.com">互助會PLUS</a>
			</div>

			<div class="navigation_right">
				<ul>
					<li class="nr_li avatar_Menu">
						<img class="small_avatar" id="small_avatar" alt="avatarImg">

						<div class="menu">
							<div class="menu_item">
								<ul>
									<li id="edit_profile_btn" class="edit_profile">編輯</li>
									<li>好友</li>
									<li>設定</li>
									<li id="logout" class="logout">登出</li>
								</ul>
							</div>
						</div>

					</li>
				</ul>
			</div>
		</div>

		<div class="profile" id="container" style="width:360px;float:left">
			<img class="big_avatar" id="big_avatar" alt="avatarImg">

			<div class="profile_Details" id="header" style="background-color: white; border-radius: 10px;">
				<table>
					<thead>
						<tr>
							<th><h2>介紹</h2></th>
							<!-- <th></th> -->
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>姓氏</td>
							<td><p id="profile_familyName"></p></td>
						</tr>
						<tr>
							<td>名字</td>
							<td><p id="profile_givenName"></p></td>
						</tr>
						<tr>
							<td>E-mail</td>
							<td><p id="profile_email"></p></td>
						</tr>
						<tr>
							<td>出生日期</td>
							<td><p id="profile_birthday"></p></td>
						</tr>
						<tr>
							<td>性別</td>
							<td><p id="profile_gender"></p></td>
						</tr>
						<tr>
							<td>現居</td>
							<td><p id="profile_currentCity"></p></td>
						</tr>
						<tr>
							<td>家鄉</td>
							<td><p id="profile_hometown"></p></td>
						</tr>
						<tr>
							<td>市話</td>
							<td><p id="profile_telephoneNumber"></p></td>
						</tr>
						<tr>
							<td>手機</td>
							<td><p id="profile_mobileNumber"></p></td>
						</tr>
						<tr>
							<td>臉書</td>
							<td><a id="profile_facebook" href="https://www.facebook.com/tongyikai/"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="edit" class="edit">

			<div class="edit_Title">
				<a><h2>編輯個人檔案</h2></a>
			</div>

			<div class="edit_closeButtonArea">
				<span class="edit_closeButton">&times;</span>
			</div>

			<div class="edit_Content">
				<!-- <form id="edit_ContentForm" action="http://127.0.0.1:8888/updateProfile" enctype="multipart/form-data" method="post" onsubmit="return changesToYourProfile()"> -->
					<form id="edit_ContentForm">
					<table>
						<tbody>
							<tr>
								<td style="width:150px">
									<label for="avatar">上傳頭像</label>
								</td>
								<td style="width:200px">
									<input type="hidden" id="edit_token" name="token">
									<input type="file" id="edit_uploadAvatar" name="avatar" accept="image/png, image/jpeg" onchange="loadFile(event)">
								</td>
								<td>
									<button type="button" onclick="cancelUploadAvatar()" style="width: 20px;">x</button>
								</td>
							</tr>
							<tr>
								<td>
									<label>姓氏</label>
								</td>
								<td>
									<input type="text" id="edit_familyName" name="familyName">
								</td>
							</tr>
							<tr>
								<td>
									<label>名字</label>
								</td>
								<td>
									<input type="text" id="edit_givenName" name="givenName">
								</td>
							</tr>
							<tr>
								<td>
									<label>出生日期</label>
								</td>
								<td>
									<select id="edit_yearBox" class="year" name="yearOfBirth">
										<option value="year">年</option>
									</select>
									<select id="edit_monthBox" class="month" name="monthOfBirth">
										<option value="month">月</option>
									</select>
									<select id="edit_dayBox" class="day" name="dayOfBirth">
										<option value="day">日</option>
									</select><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>性別</label>
								</td>
								<td>
									<input class="female" id="edit_female" type="radio" name="gender" value="female" checked>女性
									<input class="male" id="edit_male" type="radio" name="gender" value="male">男性
								</td>
							</tr>
							<tr>
								<td>
									<label>現居</label>
								</td>
								<td>
									<select id="edit_currentCity" name="currentCity">
										<option value="livesIn">目前居住地</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<label>家鄉</label>
								</td>
								<td>
									<select id="edit_hometown" name="hometown">
										<option value="placeOfBirth">出生地</option>
									</select><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>市話</label>
								</td>
								<td>
									<select id="edit_telephoneAreaCode" name="telephoneAreaCode">
										<option value="telephoneAreaCode">區碼</option>
									</select>
									<input type="text" id="edit_telephoneNumber" name="telephoneNumber">
								</td>
							</tr>
							<tr>
								<td>
									<label>手機</label>
								</td>
								<td>
									<input type="text" id="edit_mobileNumber" name="mobileNumber">
								</td>
							</tr>
							<tr>
								<td>
									<label>臉書</label>
								</td>
								<td>
									<input type="text" id="edit_facebook" style="width: 200px;" name="facebook">
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="edit_Footer">
					<input class="edit_Update_Button" type="submit" value="修改">&nbsp<input type="reset" value="重新">
				</div>
			</form>
		</div>

		<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;margin-top:1200px;height:100px;">
			版權所有 © ASCA
		</div>

	<script type="text/javascript" src="public/scripts/ascaCheck.js"></script>
	<script>

	</script>
	</body>
</html>