<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8">
		<title>互助會PLUS</title>
		<link rel="stylesheet" type="text/css" href="public/stylesheets/asca.css">
	</head>
	<body>
		<div class="navigation_bar">
			
			<div class="navigation_logo">
				<a href="http://google.com">互助會PLUS</a>
			</div>

			<div class="navigation_right">
				<ul>
					<li class="nr_li avatar_Menu">
						<img class="small_Avatar" id="small_Avatar" alt="avatarImg">

						<div class="menu">
							<div class="menu_item">
								<ul>
									<li id= "edit_profile_btn" class="edit_profile">編輯</li>
									<li>好友</li>
									<li>設定</li>
									<li>登出</li>
								</ul>
							</div>
						</div>

					</li>
				</ul>
			</div>
		</div>

		<div class="profile" id="container" style="width:360px;float:left">
			<img class="big_Avatar" id="big_Avatar" alt="avatarImg">

			<div class="profile_Details" id="header" style="background-color: white; border-radius: 10px;">
				<table>
					<thead>
						<tr>
							<th><h2>介紹</h2></th>
							<!-- <th></th> -->
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>姓氏</td>
							<td></td>
						</tr>
						<tr>
							<td>名字</td>
							<td></td>
						</tr>
						<tr>
							<td>E-mail</td>
							<td></td>
						</tr>
						<tr>
							<td>出生日期</td>
							<td></td>
						</tr>
						<tr>
							<td>性別</td>
							<td></td>
						</tr>
						<tr>
							<td>現居</td>
							<td>高雄市</td>
						</tr>
						<tr>
							<td>家鄉</td>
							<td>高雄市</td>
						</tr>
						<tr>
							<td>市話</td>
							<td>07-370-5379</td>
						</tr>
						<tr>
							<td>手機</td>
							<td>0421-803-694</td>
						</tr>
						<tr>
							<td>臉書</td>
							<td><a href="https://www.facebook.com/tongyikai/">tongyikai</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="edit" class="edit">

			<div class="edit_Title">
				<a><h2>編輯個人檔案</h2></a>
			</div>

			<div class="edit_closeButtonArea">
				<span class="edit_closeButton">&times;</span>
			</div>

			<div class="edit_Content">
				<form action="http://127.0.0.1:8888/updateProfile" enctype="multipart/form-data" method="post" onsubmit="return changesToYourProfile()">
					<table>
						<tbody>
							<tr>
								<td style="width:150px">
									<label for="avatar">上傳頭像</label>
								</td>
								<td style="width:200px">
									<input type="file" id="edit_uploadAvatar" name="uploadAvatar" accept="image/png, image/jpeg" onchange="loadFile(event)">
								</td>
								<td>
									<button onclick="cancelUploadAvatar()" style="width: 20px;">x</button>
								</td>
							</tr>
							<tr>
								<td>
									<label>姓氏</label>
								</td>
								<td>
									<input type="text" id="edit_familyName" name="familyName">
								</td>
							</tr>
							<tr>
								<td>
									<label>名字</label>
								</td>
								<td>
									<input type="text" id="edit_givenName" name="givenName">
								</td>
							</tr>
							<tr>
								<td>
									<label>出生日期</label>
								</td>
								<td>
									<select id="edit_yearBox" class="year" name="year">
										<option value="year">年</option>
									</select>
									<select id="edit_monthBox" class="month" name="month">
										<option value="month">月</option>
									</select>
									<select id="edit_dayBox" class="day" name="day">
										<option value="day">日</option>
									</select><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>性別</label>
								</td>
								<td>
									<input class="female" id="edit_female" type="radio" name="gender" value="female" checked>女性
									<input class="male" id="edit_male" type="radio" name="gender" value="male">男性
								</td>
							</tr>
							<tr>
								<td>
									<label>現居</label>
								</td>
								<td>
									<select id="edit_currentCity" name="currentCity">
										<option value="livesIn">目前居住地</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<label>家鄉</label>
								</td>
								<td>
									<select id="edit_hometown" name="hometown">
										<option value="placeOfBirth">出生地</option>
									</select><br>
								</td>
							</tr>
							<tr>
								<td>
									<label>電話</label>
								</td>
								<td>
									<select id="edit_telephoneAreaCode" name="telephoneAreaCode">
										<option value="telephoneAreaCode">區碼</option>
									</select>
									<input type="text" id="edit_telephoneNumber" name="telephoneNumber">
								</td>
							</tr>
							<tr>
								<td>
									<label>手機</label>
								</td>
								<td>
									<input type="text" id="edit_mobileNumber" name="mobileNumber">
								</td>
							</tr>
							<tr>
								<td>
									<label>臉書</label>
								</td>
								<td>
									<input type="text" id="edit_facebook" style="width: 200px;" name="facebook">
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="edit_Footer">
					<button class="edit_Update_Button" type="submit">更新</button>
				</div>
			</form>
		</div>

		<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;margin-top:1200px;height:100px;">
			版權所有 © ASCA
		</div>

	<script type="text/javascript" src="public/scripts/userProfileData.js"></script>
	<script type="text/javascript" src="public/scripts/checkUserInfor.js"></script>
	<script>
			// 人像目錄
			let avatarMenu = document.querySelector(".avatar_Menu");
			avatarMenu.addEventListener("click", function() {
				this.classList.toggle("active");
			});

			// 編輯視窗，開啟"編輯視窗"按鈕，關閉"編輯視窗"按鈕
			let edit = document.getElementById("edit");
			let editProfileButton = document.getElementById("edit_profile_btn");
			let editCloseButton = document.getElementsByClassName("edit_closeButton")[0];

			editProfileButton.onclick = function() {
				edit.style.display = "block";
			}

			editCloseButton.onclick = function() {
				edit.style.display = "none";
			}

			// 限制上傳圖片的大小
			let uploadAvatarMaxSize = 1*1024*1024; 
			let errorMessage = "上傳的附件檔案不能超過 1 Mega Byte";
			let uploadAvatar = "none";
			let isUploadAvatarMaxSizeCorrect = false;
			
			var loadFile = function(event) {
				uploadAvatar = document.getElementById("edit_uploadAvatar");

				// 上傳的檔案如果大於限制顯示警告
				if (uploadAvatar.files[0].size > uploadAvatarMaxSize) {
					isUploadAvatarMaxSizeCorrect = false;
					alert(errorMessage);
				} else {
					isUploadAvatarMaxSizeCorrect = true;
				}
			}

			function cancelUploadAvatar() {
				document.getElementById("edit_uploadAvatar").value = "";
				isUploadAvatarMaxSizeCorrect = false;
				uploadAvatar = "none";
			}

			// 出生年月日參數
			function showYear() {
                let options = "<option>年</option>";
                for (var i = 1900; i <= 2020; i++) {
                    options += ("<option>" + i + "</option>");
                }
                document.getElementById("edit_yearBox").innerHTML = options;
            }

            function showMonth() {
                let options = "<option>月</option>";
                for (var i = 1; i <= 12; i++) {
                    options += ("<option>" + i + "</option>");
                }
                document.getElementById("edit_monthBox").innerHTML = options;
            }

            function showDay() {
                let options = "<option>日</option>";
                for (var i = 1; i <= 31; i++) {
                    options += ("<option>" + i + "</option>");
                }
                document.getElementById("edit_dayBox").innerHTML = options;
			}
			showYear();
            showMonth();
			showDay();
			
			// 所有城市參數
			const city = ["台北市", "新北市", "基隆市", "桃園市", "新竹市", "新竹縣", "苗栗縣", "台中市", "彰化縣", "南投縣", "雲林縣", "嘉義市", "台南市", "高雄市", "屏東縣", "宜蘭縣", "花蓮縣", "台東縣", "澎湖縣", "金門縣", "連江縣"];
			function showCity() {
				let options = "<option>城市</option>";
				for (var i = 0; i < 21; i++) {
					options += ("<option>" + city[i] + "</option>");
				}
				document.getElementById("edit_currentCity").innerHTML = options;
				document.getElementById("edit_hometown").innerHTML = options;
			}
			showCity();

			// 市內電話區域參數
			const telephoneAreaCode = ["02", "03", "037", "04", "049", "05", "06", "07", "08", "089", "082", "0826", "0836"];
			function showTelephoneAreaCode() {
				let options = "<option>區碼</option>"
				for (var i = 0; i < 13; i++) {
					options += ("<option>" + telephoneAreaCode[i] + "</option>");
				}
				document.getElementById("edit_telephoneAreaCode").innerHTML = options;
			}
			showTelephoneAreaCode();

			// 您的個人資料更改
			function changesToYourProfile() {
				const DoNotModify = "none";

				isFamilyNameCorrect = true;
				isGiveNameCorrect = true;
				isBirthdayCorrect = true;
				isTelephoneNumberCorrect = true;
				isMobileNumberCorrect = true;
				isFacebookCorrect = true;

				let funCheckBlank = checkBlank;
				let funCheckNameLength = checkNameLength;
				let funCheckNameIsChinese = checkNameIsChinese;
				let funCheckDateOfBirth = checkDateOfBirth;
				let funCheckTelephoneNumber = checkTelephoneNumber;
				let funCheckMobileNumber = checkMobileNumber;
				// let funUpdateForUser = updateForUser;

				let familyName = document.getElementById("edit_familyName").value;
				let givenName = document.getElementById("edit_givenName").value;
				let year = document.getElementById("edit_yearBox").value;
				let month = document.getElementById("edit_monthBox").value;
				let day = document.getElementById("edit_dayBox").value;
				let gender = document.querySelector('input[name="gender"]:checked').value;
				let currentCity = document.getElementById("edit_currentCity").value;
				let hometown = document.getElementById("edit_hometown").value;
				let telephoneAreaCode = document.getElementById("edit_telephoneAreaCode").value;
				let telephoneNumber = document.getElementById("edit_telephoneNumber").value;
				let mobileNumber = document.getElementById("edit_mobileNumber").value;
				let facebook = document.getElementById("edit_facebook").value;

				// 檢查使用者輸入的資訊
				if (!funCheckBlank(familyName)) { // 沒有輸入或者輸入空白都視為正確，以外就進入判斷
					if (!funCheckNameIsChinese(familyName) || !funCheckNameLength(familyName)) {
						isFamilyNameCorrect = false;
					}
				} else {
					familyName = DoNotModify; // Server 解析 none 代表不修改資訊
				}

				if (!funCheckBlank(givenName)) {
					if (!funCheckNameIsChinese(givenName) || !funCheckNameLength(givenName)) {
						isGiveNameCorrect = false;
					}
				} else {
					givenName = DoNotModify;
				}

				if (year == "年" && month == "月" && day == "日") {
					year = DoNotModify; 
					month = DoNotModify;
					day = DoNotModify;
				} else if (year != "年" && month != "月" && day != "日") {
					if (!funCheckDateOfBirth(year, month, day)) {
						isBirthdayCorrect = false;
					}
				}

				if (currentCity == "城市") {
					currentCity = DoNotModify;
				}

				if (hometown == "城市") {
					hometown = DoNotModify;
				}

				if (telephoneAreaCode == "區碼") {
					telephoneAreaCode = DoNotModify;
				}

				if (!funCheckBlank(telephoneNumber)) {
					if (funCheckTelephoneNumber(telephoneNumber)) {
						isTelephoneNumberCorrect = false;
					}
				} else {
					telephoneNumber = DoNotModify;
				}

				if (!funCheckBlank(mobileNumber)) {
					if (funCheckMobileNumber(mobileNumber)) {
						isMobileNumberCorrect = false;
					}
				} else {
					mobileNumber = DoNotModify;
				}

				if (!funCheckBlank(facebook)) {
					if (facebook.length > 100) {
						isFacebookCorrect = false;
					}
				} else {
					facebook = DoNotModify;
				}

				alert(
					"上傳頭像:" + (isUploadAvatarMaxSizeCorrect ? uploadAvatar.files[0].name : "圖片大小錯誤或沒上傳圖片") + "\n" + 
					"姓: " + (isFamilyNameCorrect ? familyName : "姓名錯誤") + "\n" +
					"名字: " + (isGiveNameCorrect ? givenName : "名字錯誤") + "\n" +
					"出生: " + (isBirthdayCorrect ? year + "年" + month + "月" + day + "日" : "出生錯誤") + "\n" +
					"姓別: " + gender + "\n" +
					"現居: " + currentCity + "\n" +
					"家鄉: " + hometown + "\n" +
					"市話: " + (isTelephoneNumberCorrect ? telephoneAreaCode + "-" + telephoneNumber : "市話錯誤") + "\n" +
					"手機: " + (isMobileNumberCorrect ? mobileNumber : "手機錯誤") + "\n" +
					"臉書: " + isFacebookCorrect + "\n" 
				);

				if (isUploadAvatarMaxSizeCorrect && isFamilyNameCorrect && isGiveNameCorrect && isBirthdayCorrect && isTelephoneNumberCorrect && isMobileNumberCorrect && isFacebookCorrect) {
					alert("可以提交");
					return true;
					// funUpdateForUser(uploadAvatar,
					// 				 familyName,
					// 				 givenName,
					// 				 year,
					// 				 month,
					// 				 day,
					// 				 gender,
					// 				 currentCity,
					// 				 hometown,
					// 				 telephoneAreaCode,
					// 				 telephoneNumber,
					// 				 mobileNumber,
					// 				 facebook
					// );
				} else {
					alert("不行提交");
					return false;
				}
			}

			let funGetProfileData = getProfileData;
			funGetProfileData();

	</script>
	</body>
</html>