<!DOCTYPE html>
<html>
    <head name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>互助會PLUS - 登入或註冊</title>
        <link rel="stylesheet" href="public/stylesheets/index.css">
    </head>
    <body>
        <header>
            <h2 class="white-text">互助會PLUS
                <button class="signUpBtn" onclick="signUp()">註冊</button>
            </h2>
            <div class="formLogIn">
                <table>
                    <tr>
                        <td style="font-size: 12px; color: white;">電子郵件</td>
                        <td style="font-size: 12px; color: white;">密碼</td >
                        <td></td>
                    </tr>
                    <tr>
                        <td><input class="email" type="email" name="email" id="email"></td>
                        <td><input class="password" type="password" name="password" id="password"></td>
                        <td><button class="logInBtn" onclick="logIn()">登入</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="http://google.com" style="font-size: 11px;">忘記密碼?</a></td>
                        <td><button onclick="resetToken()">清除Cookie</button></td> 
                    </tr>
                </table>
            </div>
        </header>

        <section class="sec1"></section>

        <section class="sec2">
            <h2>1234567890</h2>
            <p>Pure CSS Sticky Header - Navbar Fixed Top After Scrolling - No Javascript</p>
        </section>

        <script type="text/javascript" src="public/scripts/userAuthorization.js"></script>
        <script>
            var funLogIn = logInForUser;
            let funToken = checkAuthorization;
            funToken();

            function signUp() {
                // window.location.href="///Users/tongyikai/Documents/Git/AWEB/signUp.html";
                window.location.href = "http://127.0.0.1:8888/signUp";
            }
            
            function logIn() {
                var userEmail = document.getElementById("email").value;
                var userPassword = document.getElementById("password").value;
                funLogIn(userEmail, userPassword);
            }

            //Test function
            function resetToken() {
                document.cookie = "authorization=";
                alert(document.cookie);
            }

            // 清除  cookie   
            // alert(cookieValue);
            // document.cookie = "authorization=; expires=Thu, 01 Jan 1970 00:00:00 GMT"; 
        </script>
    </body>
</html>