<!DOCTYPE html>
<html>
    <head name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>個人首頁</title>
        <link rel="stylesheet" type="text/css" href="public/stylesheets/profile.css">
    </head>
    <body>
        <header><img src="image/avatar.png"></header>
        <nav>
            <ul>
                <li><a href="///Users/tongyikai/Documents/webResource/AwesomeHove/index.html" class="active">個人首頁</a></li>
                <li><a href="#">好友名單</a></li>
                <li><a href="#">歷史紀錄</a></li>
                <li><a href="#">推薦名單</a></li>
                <li><a href="#">獎金</a></li>
                <li><a href="#">廣告收益</a></li>
            </ul>
        </nav>
        <section class="sec1"></section>
        <section class="sec2">
        <h2>1234567890</h2>
        <p>Pure CSS Sticky Header - Navbar Fixed Top After Scrolling - No Javascript</p>
        </section>
    </body>
</html>