@import "common.css";

  div.formProfile {
    position: absolute;
    width: 300px;
    height: 400px;
    /* border: 1px solid red; */
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -150px;
  }

 input.familyName, .givenName {
    /* position: relative; */
    width: 80px;
  }

  input.email, .password {
    width: 170px;
  }

  select.yearBox, .monthBox, .dayBox {
    position: relative;
    top: -20px;
  }

  /* #birthday {
    position: relative;
    border: 1px solid red;
    top: -20px;
    left: 75px;
    height: 50px;
    width: 180px;
  } */

  #gender {
    position: relative;
    border: 0px solid red;
    top: -20px;
    left: 75px;
    width: 150px;
  }

  button.confirmBtn {
    background-color: green;
    border: green;
    color: white;
  }
